.dot-menu {
    &__context-menu {
        border-radius: 14px;
        overflow: hidden;
    }

    &__emoji-header {
        padding: 8px 12px 0;
    }

    &__emoji-header-list {
        display: flex;
        padding: 0;
        margin: 0 0 8px;
        list-style: none;
        gap: 4px;
        align-items: center;
    }

    &__emoji-dropdown-icon {
        display: inline-flex;
        align-items: center;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        margin-left: -6px;
        pointer-events: none;
    }

    &__item-new-badge {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__post-reminder-menu-header {
        padding: 6px 20px;
        margin: 0;
        color: var(--center-channel-color);
        font-weight: bold;
        pointer-events: none;
    }

    &__item-trailing-icon {
        display: flex;
        margin-right: -4px;
    }
}

.flag_post_menu_item {
    i.icon.icon-flag-outline:before {
        margin: 0;
    }
}
