.edit-post-time-limit-modal {
    label {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
        font-weight: normal;
    }

    .edit-post-time-limit-modal__error {
        display: inline-block;
        width: 65%;
        color: red;
        text-align: end;

        &:empty {
            display: none;
        }
    }
}
