:root {
    // Cloned default hex values from base/css_variables to be used in the system console
    --icon-opacity: 0.64;
    --icon-opacity-hover: 0.8;
    --sys-away-indicator: #ffbc1f;
    --sys-away-indicator-dark: #997113;
    --sys-button-bg: #1da390;
    --sys-button-color: #fff;
    --sys-center-channel-bg: #fff;
    --sys-center-channel-color: #333132;
    --sys-dnd-indicator: #f74343;
    --sys-error-text: #d24b4e;
    --sys-link-color: #1da390;
    --sys-mention-bg: #fff;
    --sys-mention-color: #333132;
    --sys-mention-highlight-bg: #f99d1c;
    --sys-mention-highlight-link: #333132;
    --sys-new-message-separator: #f99d1c;
    --sys-online-indicator: #3db887;
    --sys-sidebar-bg: #333132;
    --sys-sidebar-header-bg: #2a2829;
    --sys-sidebar-header-text-color: #fff;
    --sys-sidebar-text: #fff;
    --sys-sidebar-text-60: #fff9;
    --sys-sidebar-text-80: #fffc;
    --sys-sidebar-text-active-border: #1da390;
    --sys-sidebar-text-active-color: #fff;
    --sys-sidebar-text-hover-bg: #4a4849;
    --sys-sidebar-unread-text: #fff;
    --sys-denim-button-bg: #1da390;
    --sys-denim-center-channel-text: #333132;

    // Cloned RGB values from base/css_variables, to be used as rgba(var(--sys-color), opacity_here) to apply opacity to base colors
    --sys-away-indicator-rgb: 255, 188, 31;
    --sys-away-indicator-dark-rgb: 153, 113, 19;
    --sys-button-bg-rgb: 29, 163, 144;
    --sys-button-color-rgb: 255, 255, 255;
    --sys-center-channel-bg-rgb: 255, 255, 255;
    --sys-center-channel-color-rgb: 51, 49, 50;
    --sys-dnd-indicator-rgb: 247, 67, 67;
    --sys-error-text-color-rgb: 210, 75, 78;
    --sys-link-color-rgb: 29, 163, 144;
    --sys-mention-bg-rgb: 255, 255, 255;
    --sys-mention-color-rgb: 51, 49, 50;
    --sys-mention-highlight-bg-rgb: 249, 157, 28;
    --sys-mention-highlight-link-rgb: 51, 49, 50;
    --sys-new-message-separator-rgb: 249, 157, 28;
    --sys-online-indicator-rgb: 61, 184, 135;
    --sys-sidebar-bg-rgb: 51, 49, 50;
    --sys-sidebar-header-bg-rgb: 42, 40, 41;
    --sys-sidebar-header-text-color-rgb: 255, 255, 255;
    --sys-sidebar-text-rgb: 255, 255, 255;
    --sys-sidebar-text-active-border-rgb: 29, 163, 144;
    --sys-sidebar-text-active-color-rgb: 255, 255, 255;
    --sys-sidebar-text-hover-bg-rgb: 74, 72, 73;
    --sys-sidebar-unread-text-rgb: 255, 255, 255;
    --sys-denim-button-bg-rgb: 29, 163, 144;
    --sys-denim-center-channel-text-rgb: 51, 49, 50;
}
